!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="robots" content="noindex,nofollow")
    %title CatLint
    = stylesheet_link_tag 'bootstrap', 'application'
    = javascript_include_tag 'jquery', 'jquery-ui', 'underscore', 'backbone', 'backbone-localstorage.js', 'catlint-models', 'catlint-views'
  %body
    .topbar
      .fill
        .container
          %a.brand{:href => url(:validator)} CatLint
    .container
      = yield
