.content
  .page-header
    %h1
      Validator
      %small category theory validation tool
  .row
    .span6#left
      %h3 Result
      - image_size = "340"
      - if @error
        .alert-message.error
          %p= @error
        %img{:src => "images/catlint.jpg", :height => image_size, :width => image_size}
      - else
        .alert-message.success
          %p Your category is valid!
        %img{:src => @category.to_gchart_url, :height => image_size, :width => image_size}

    .span9#right
      %h2 Category
      - form_tag url(:validator), :method => :post do
        .input
          = text_area_tag :category, :value => @json, :class => "span9", :rows => "20"
          %span.help-block
            JSON representation of identity function, hom relation, and composition function.
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
