.content
  .page-header
    %h1
      Validator
      %small category theory validation tool
  .row
    .span14
      - form_tag '/validator', :method => 'post' do
        = label_tag :category
        .input
          = text_area_tag :category, :class => "xxlarge", :rows => "10"
          %span.help-block
            JSON representation of identities, hom relation, and composition function.
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
