.content
  .page-header
    %h1
      Validator
      %small category theory validation tool
  .row
    .span14
      - if @validated && @error
        .alert-message.error
          %p= @error
      - elsif @validated
        .alert-message.success
          %p Your category is valid!

      - form_tag url(:validator), :method => :post do
        = label_tag :category
        .input
          = text_area_tag :category, :value => @category, :class => "xxlarge", :rows => "10"
          %span.help-block
            JSON representation of identities, hom relation, and composition function.
        .actions
          %input.btn.large.primary(type="submit" value="Validate")
