.content
  .page-header
    %h1
      Morphisms
      %small category theory validation tool
  .row#app
    .span5#left
      .alert-message.success
        %p Your category is valid!
      #stats
      #graph

    .span10#right
      - form_tag url(:validator), :method => :post do
        - field_class = "span3"
        .equation.input
          = text_field_tag "hom_f", :placeholder => "morphism", :value => "", :class => field_class, :id => "hom_f"
          %span.equation-text :
          = text_field_tag "hom_src", :placeholder => "source", :value => "", :class => field_class, :id => "hom_src"
          %span.equation-text &rarr;
          = text_field_tag "hom_trg", :placeholder => "target", :value => "", :class => field_class, :id => "hom_trg"
          %a#add-morphism.btn(href="#_") +

        %ul#morphisms

        %ul#compositions

        %script(type="text/template" id="stats-template")
          %h3.nav.btn.large.span4 Objects: <%= objectsCount %>
          %h3.nav.btn.large.span4 Morphisms: <%= morphismsCount %>
          %h3.nav.btn.large.span4 Compositions: <%= compositionsCount %>

        %script(type="text/template" id="graph-template")
          = %{<img src=<%= dot %>>}

        %script(type="text/template" id="morphism-template")
          .equation
            %span.btn.span2.info <%= name %>
            %span.equation-text :
            %span.btn.span2.info <%= source %>
            %span.equation-text &rarr;
            %span.btn.span2.info <%= target %>
            %a.remove-morphism.btn(href="#_") x

        %script(type="text/template" id="composition-template")
          .equation
            %span.btn.span2.info <%= c.left.name %>
            %span.equation-text o
            %span.btn.span2.info <%= c.right.name %>
            %span.equation-text =
            %span.btn.span2.info <%= c.composite.name %>

